* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

nav {
  padding: 20px 0;
  position: absolute !important;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  background-color: transparent !important;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav img {
  width: 200px;
}

nav ul li a {
  color: rgb(229, 226, 226);
  font-size: 20px;
  margin: 0 10px;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;

}

nav svg {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}

.avatar {
  width: 40px !important;
}

/******first section*********/
.Fsec {
  height: 80vh;
  position: relative;
}

.Fsec .mainFsec {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.288);
  top: 0;
  left: 0;
  color: white;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.Fsec h3 {
  font-size: 50px;
}

.buttond {
  margin: 30px 0;
}

.buttond button {
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  font-size: 20px;
}

.Fsec p {
  font-size: 20px;
}

/*****************************************/
.sliderSec {
  position: relative;
  padding-top: 10px;
}

.sliderSec h2 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 50px;
  z-index: 3;
}

.sliderDiv {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 400px;
  z-index: 4;
}

.swiper-slide .movieimg {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.swiper-slide .detailsDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.detailss {
  background-color: #303030;
  padding: 30px 15px;
  height: 180px;
}

.detailsDiv img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.iconsdetail {
  display: flex;
  justify-content: space-between;
}

.iconsdetail svg {
  display: inline-block;
  color: white;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.detailsDiv h3 {
  font-size: 15px;
  color: white;
  margin: 20px 0;
}

.detailsDiv p {
  font-size: 12px;
  color: green;
  margin: 10px 0;

}

.swiper-slide:hover .movieimg {
  display: none;
}

.swiper-slide:hover .detailsDiv {
  transition: all .5s ease-in-out;
  opacity: 1;
  transform: scale(1.1);
}

/************footer*********************/

footer {
  padding: 30px 100px;
}

footer a {
  color: #757575;
  text-decoration: none;
  font-size: 18px;
}

footer a:hover {
  color: #757575;

}

footer ul li {
  margin-top: 10px;
  list-style: none;
}

footer select {
  outline: none;
  background-color: transparent;
  color: white;
  padding: 8px;
  font-size: 18px;
  margin-right: 20px;
  border-radius: 3px;
  margin-top: 20px;
}

footer select option {
  background-color: gray;

}

footer p {
  color: #757575;
  margin-top: 10px;
}